@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeSlide {
    0%,
    100% {
        opacity: 0;
        pointer-events: none;
    }
    10%,
    30% {
        opacity: 1;
        pointer-events: auto;
    }
    33.33% {
        opacity: 0;
        pointer-events: none;
    }
}

html,
body {
    overflow-x: hidden;
}
